<footer>
	<div class="container margin_60_35">
		<div class="row">
			<div class="col-lg-3 col-md-12">
				<p>
					<a href="index-2.html" title="Findoctor">
						<img src="{{ asset('img/logo.png') }}" data-retina="true" alt="" width="163" height="36" class="img-fluid">
					</a>
				</p>
			</div>
			<div class="col-lg-3 col-md-4">
				<h5>A Propos</h5>
				<ul class="links">
					<li><a href="">A Propos de nous</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">Se Connecter</a></li>
					<li><a href="">S'enregistrer</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-4">
				<h5>Liens utiles</h5>
				<ul class="links">
					<li><a href="">Docteurs</a></li>
					<li><a href="">Cliniques</a></li>
					<li><a href="">Specialités</a></li>
					<li><a href="">Rejoins nous comme Docteur</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-4">
				<h5>Nos Contacts</h5>
				<ul class="contacts">
					<li>
						<a href="tel://+22500000000">
							<i class="icon_mobile"></i> +225 00 00 00 00
						</a>
					</li>

					<li>
						<a href="mailto:info@allodocteur.ci">
							<i class="icon_mail_alt"></i> help@allodocteur.ci
						</a>
					</li>
				</ul>

				<div class="follow_us">
					<h5>Nous suivre</h5>
					<ul>
						<li><a href=""><i class="social_facebook"></i></a></li>
						<li><a href=""><i class="social_twitter"></i></a></li>
						<li><a href=""><i class="social_linkedin"></i></a></li>
						<li><a href=""><i class="social_instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--/row-->
		<hr>
		<div class="row">
			<div class="col-md-8">
				<ul id="additional_links">
					<li><a href="">Conditions d'utilisation</a></li>
					<li><a href="">Politique de confidentialité</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<div id="copy">© 2019 Allô Docteur</div>
			</div>
		</div>
	</div>
</footer>